<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" href="/images/characters/players/witch-girl.png">
    <title>Wizards-dreams</title>
    <meta name="description" content="An rpg game">
</head>

<body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/Client.js"></script>
    <script src="/src/app/Utils.js" type="module"></script>
    <script src="/src/app/DirectionInput.js" type="module"></script>
    <script src="/src/app/Types.js" type="module"></script>
    <script src="/src/app/Overworld.js" type="module"></script>
    <script src="/src/app/GameObject.js" type="module"></script>
    <script src="/src/app/Player.js" type="module"></script>
    <script src="/src/app/Sprite.js" type="module"></script>
    <script src="/src/app/OverworldMap.js" type="module"></script>
    <script src="/src/app/Init.js" type="module"></script>


</body>