<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="Content-Type" />
    <meta lang="en" charset="UTF-8" content="text/html" />
    <meta name="description" content="An rpg game" />
    <title>Wizards-dreams</title>
    <link rel="SHORTCUT ICON" href="/images/characters/players/witch-girl.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body>
    <div class="container-login">
        <h1 class="title-login">Login</h1>
        <form action="" id="login-form">
            <label for="login-email">Email</label>
            <input id="login-email" type="email" autocomplete="off" autofocus placeholder="Your email"
                pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-.]+$/" title="login-email" tabindex="0" />

            <label for="login-password">Password</label>
            <input id="login-password" type="password" autocomplete="off" placeholder="Your password"
                title="login-password" tabindex="0" minlength="8" />

            <button type="submit" id="login-submit-btn">login</button>
            <button type="button" id="login-signup-btn">sign-up</button>
        </form>

<img src="https://www.google.com/aclk?sa=l&ai=DChcSEwi_tdqIibj5AhVDJzgKHeWkAQMYABABGgJqZg&sig=AOD64_1PWPewhg0VvvKJvYISti34Cwktgw&adurl&ctype=5&ved=2ahUKEwjUpMqIibj5AhXmj2oFHVzPBVgQvhd6BAgBEG0"/>
    </div>
</body>

</html>