<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="Content-Type" />
    <meta lang="en" charset="UTF-8" content="text/html" />
    <meta name="description" content="An rpg game" />
    <title>Wizards-dreams</title>
    <link rel="SHORTCUT ICON" href="/images/characters/players/witch-girl.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body>
    <div class="container-signup">
        <h1 class="title-signup" id="title-signup">Sign-up</h1>
        <form action="" id="signup-form">
            <label for="signup-email">Email</label>
            <input id="signup-email" type="email" autocomplete="off" autofocus placeholder="Your email"
                pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-.]+$/" title="signup-email" minlength="7" tabindex="0" />

            <label for="signup-password">Password</label>
            <input id="signup-password" placeholder="Must be 8 characters long" type="password" autocomplete="off"
                title="signup-password" tabindex="0" minlength="8" />

            <button type="submit" id="signup-submit-btn">submit</button>
            <button type="button" id="signup-login-btn">log-in</button>
        </form>

    </div>
</body>

</html>