<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta lang="en" charset="UTF-8" content="text/html" />
  <meta http-equiv="Content-Type" />
  <meta name="description" content="An rpg game" />
  <title>Wizards-dreams</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link
    rel="icon"
    href="/images/characters/players/witch-girl.png"
    type="image/x-icon"
  />

</head>

<body>
  {{{body}}}

  <script src="/socket.io/socket.io.js"></script>

  <script src="https://unpkg.com/dompurify@2.3.4/dist/purify.min.js"></script>

  <script src="/src/constants/HTMLElementIds.js" type="module"></script>
  <script src="/src/app/Utils.js" type="module"></script>

  <script src="/src/network/HTML-Proxy.js" type="module"></script>
  <script src="/src/constants/EventConstants.js" type="module"></script>

  <script src="/src/app/GameMap.js" type="module"></script>
  <script src="/src/app/Overworld_Test.js" type="module"></script>

  <script src="/src/app/ClientController.js" type="module"></script>
  <script src="/src/app/ClientView.js" type="module"></script>

  <script src="/src/app/DirectionInput.js" type="module"></script>
  <script src="/src/app/Types.js" type="module"></script>

  {{!
    <script src="/src/app/Overworld.js" type="module"></script> }}
  <script src="/src/app/GameObject.js" type="module"></script>

  <script src="/src/app/Character.js" type="module"></script>
  <script src="/src/app/Sprite.js" type="module"></script>

  <script src="/src/app/OverworldMap.js" type="module"></script>
  {{!
    <script src="/src/app/Init.js" type="module"></script> }}

</body>