<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="en" charset="UTF-8" content="text/html" />
    <meta http-equiv="Content-Type" />
    <meta name="description" content="An rpg game" />
    <title>Wizards-dreams</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" href="/images/characters/players/witch-girl.png" type="image/x-icon">

</head>

<body>
    {{{body}}}
    <script src="/src/players/PlayerSignUpView.js" type="module"> </script>
    <script src="/src/players/PlayerSignUpController.js" type="module"> </script>
    <script src="/src/constants/HTMLElementIds.js" type="module" async></script>
</body>